<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alumini</title>
    <link rel="icon" href="{% static 'images/saec1.jpg' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
   <center> <h1 >welcome, SAEC!</h1></center>
    <hr>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Register N0</th>
            <th scope="col">idno</th>
            <th scope="col">aadharno</th>
            <th scope="col">year</th>
            <th scope="col">profile</th>
          </tr>
        </thead>
          {% for stu in alumi %}
        <tbody>
          <tr>
            <th scope="row">{{stu.name}}</th>
            <td>{{stu.gender}}</td>
            <td>{{stu.registerno}}</td>
            <td>{{stu.idno}}</td>
            <td>{{stu.aadharno}}</td>
            <td>{{stu.year}}</td>
            <td><img src="{{stu.image.url}}" alt="Avatar" width="50" height="60"></td>

          </tr>
          </tbody>
        {% endfor %}
      </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>