
<div class="col-md-4">
    <label for="inputState" class="form-label">City</label>
    <select id="inputState" class="form-select">
      <option selected>Ramanathapuram</option>
      <option>Rameshwaram</option>
      <option>Manamadurai</option>
      <option>Ilaiyankudi </option>
      <option>Paramakudi </option>
      <option>rural</option>
<div class="col-md-4">
  <label for="inputState" class="form-label">State</label>
  <select id="inputState" class="form-select">
    <option selected>tamilnadu</option>
    <option>kerala </option>
    <option>Bihar </option>
    <option>Rajasthan </option>
    <option>goa </option>
    
  </select>
</div>
<div class="col-md-2">
  <label for="inputZip" class="form-label">Zip</label>
  <input type="text" class="form-control" id="inputZip">
</div>