<!doctype html>
<html>
<head>
<title>
</title>
{%load static%}
</head>
<body>
    <fieldset>
    
    <figure>
    <img src="{% static 'benz.jpg' %}" width=300; height=300;>
    <figcaption><strong>rs$:8000000<br>
                mile:20km/litre<br>
                gst:15%</strong>

    </figcaption>

    <img src="{%static 'benz1.jpg'%}"width=300 height=300>
    <figcaption><strong>rs$:8000000<br>
        mile:20km/litre<br>
        gst:15%</strong>
    </figcaption>
    <img src="{% static "bmw.jpg"%}"width=300; height=300;><br>
    <figcaption><strong>rs$:8000000<br>
        mile:20km/litre<br>
        gst:15%</strong>
    </figcaption>
</figure>
&nbsp;&nbsp;<a href="nav.html">Back </a>


</fieldset>
</body>
</html>
