<!DOCTYPE html>
<html lang="en">
<head>
    <title>VPA Data-Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'images/saec1.jpg' %}">

    <style>
        body {
            background-color: #eee;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 120px;
            width: 25%;
        }
        .avatar {
            background-repeat: no-repeat;
            display: block;
            margin: auto;
            width: 30%;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><strong>VPA Data-Management</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Dashboard</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="accounts/odrequest">ODFORM</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class="nav-link text-white">Hello, {{ user.first_name }}</span>
                        </li>
                        <li class="nav-item">
                            <a href="accounts/logout" class="btn btn-light">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="accounts/login" class="btn btn-light">Login</a>
                        </li>
                        {% endif %}
                    </ul>

                    <form method="post" action="scrol">
                        <b>Filter</b>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="accounts/studata">Student Data</a></li>
                                <li><a class="dropdown-item" href="accounts/alumini">Alumni</a></li>
                                <li><a class="dropdown-item" href="accounts/adddata">Add Data</a></li>
                                <li><a class="dropdown-item" href="accounts/drop">To Drop Data</a></li>
                                <li><a class="dropdown-item" href="accounts/filter">Click to Filter</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Avatar Image -->
    <img src="{% static 'images/saec2.png' %}" alt="Avatar" class="center">

    <!-- Bootstrap JS (Corrected) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <!-- Corrected Static JS Paths -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>
